@model IEnumerable<yummyApp.Models.Producto>

@{
    ViewData["Title"] = "ListadoProductos";
}

<h1>ListadoProductos</h1>

<p>
    <a asp-action="Create">Nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_cat_or)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_cat_com)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.id_producto)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.id_cat_or)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.id_cat_com)
            </td>
            <td>
                @Html.ActionLink("edit", "edit", new { id=item.id_producto  }) |
                    @Html.ActionLink("details", "details", new { id = item.id_producto }) |
                    @Html.ActionLink("delete", "delete", new { id = item.id_producto })
            </td>
        </tr>
}
    </tbody>
</table> 

<div>
    <a asp-controller="Home" asp-action="ManGeneral">Volver</a>
</div>
