
<section class="hero-wrap">
	<div class="home-slider owl-carousel js-fullheight">
		<div class="slider-item js-fullheight" style="background-image:url('@Url.Content("~/images/bg_1.jpg")');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate">
						<div class="text w-100 mt-5 text-center">
							<span class="subheading">Yummy Restaurant</h2></span>
							<h1>Cooking Since</h1>
							<span class="subheading-2">2025</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item js-fullheight" style="background-image:url('@Url.Content("~/images/bg_2.jpg")');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate">
						<div class="text w-100 mt-5 text-center">
							<span class="subheading">Yummy Restaurant</h2></span>
							<h1>Best Quality</h1>
							<span class="subheading-2 sub">Food</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-sm-4 p-4 p-md-5 d-flex align-items-center justify-content-center bg-primary">
				<form action="#" class="appointment-form">
					<h3 class="mb-3">Reserva</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="name" class="form-control" placeholder="Nombre">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Telefóno">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="input-wrap">
									<div class="icon"><span class="fa fa-calendar"></span></div>
									<input type="text" class="form-control book_date" placeholder="Check-In">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="input-wrap">
									<div class="icon"><span class="fa fa-clock-o"></span></div>
									<input type="text" class="form-control book_time" placeholder="Hora">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon"><span class="fa fa-chevron-down"></span></div>
										<select name="" id="" class="form-control">
											<option value="">Invitados</option>
											<option value="">1</option>
											<option value="">2</option>
											<option value="">3</option>
											<option value="">4</option>
											<option value="">5</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Reserva tu mesa ahora" class="btn btn-white py-3 px-4">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-8 wrap-about py-5 ftco-animate img" style="background-image: url('@Url.Content("~/images/about.jpg")');">
				<div class="row pb-5 pb-md-0">
					<div class="col-md-12 col-lg-7">
						<div class="heading-section mt-5 mb-4">
							<div class="pl-lg-3 ml-md-5">
								<span class="subheading">Sobre nosotros</span>
								<br>
								<h2 class="mb-4">Bienvendido a Yummy</h2>
							</div>
						</div>
						<div class="pl-lg-3 ml-md-5">
							<p>Yummy nació para compartir algo más que comida: experiencias. Cada plato que servimos cuenta una historia de la costa, sierra y selva del Perú, transformando recetas tradicionales en momentos únicos para disfrutar.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	<section class="ftco-section ftco-intro" style="background-image: url('@Url.Content("~/images/bg_3.jpg")');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<span>RESERVAS AHORA</span>
				<h2>Cenas Privadas &amp; Horas Felices</h2>
			</div>
		</div>
	</div>
</section>



	<section class="ftco-section testimony-section" style="background-image: url('@Url.Content("~/images/bg_5.jpg")');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center mb-3 pb-2">
			<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
				<span class="subheading">Testimonios</span>
				<br>
				<h2 class="mb-4">Clientes Felices</h2>
			</div>
		</div>
		<div class="row ftco-animate justify-content-center">
			<div class="col-md-7">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="text p-3">
								<p class="mb-4">El mejor lugar para probar sabores únicos.</p>
								<div class="user-img mb-4" style="background-image: url('@Url.Content("~/images/person_1.jpg")')">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<p class="name">Pedro Marin</p>
								<span class="position">Cliente</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="text p-3">
								<p class="mb-4">Cada plato me sorprendió, todo riquísimo</p>
								<div class="user-img mb-4" style="background-image: url('@Url.Content("~/images/person_1.jpg")')">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<p class="name">John Morales</p>
								<span class="position">Cliente</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="text p-3">
								<p class="mb-4">La atención y el sabor hacen la diferencia.</p>
								<div class="user-img mb-4" style="background-image: url('@Url.Content("~/images/person_1.jpg")')">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<p class="name">Marta Susana</p>
								<span class="position">Cliente</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="text p-3">
								<p class="mb-4">Definitivamente volvería a pedir en Yummy</p>
								<div class="user-img mb-4" style="background-image: url('@Url.Content("~/images/person_1.jpg")')">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<p class="name">Pierina Morales</p>
								<span class="position">Cliente</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="text p3">
								<p class="mb-4">Una experiencia deliciosa de inicio a fin.</p>
								<div class="user-img mb-4" style="background-image: url('@Url.Content("~/images/person_1.jpg")')">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<p class="name">Sandra Castillo</p>
								<span class="position">Cliente</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<br>
<br>
<br>
<br>



<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 d-flex">
				<div class="img img-2 w-100 mr-md-2" style="background-image: url('@Url.Content("~/images/bg_6.jpg")');"></div>
				<div class="img img-2 w-100 ml-md-2" style="background-image: url('@Url.Content("~/images/bg_4.jpg")');"></div>
			</div>
			<div class="col-md-6 ftco-animate makereservation p-4 p-md-5">
				<div class="heading-section ftco-animate mb-5">
					<span class="subheading">Secretos</span>
					<br>
					<h2 class="mb-4">Ingredientes frescos</h2>
					<p>
						En Yummy creemos que el verdadero sabor nace de la frescura. Por eso, seleccionamos cuidadosamente ingredientes de la costa, sierra y selva del Perú, llevando a tu mesa platos que celebran nuestra riqueza gastronómica.
					</p>
					<p><a href="#" class="btn btn-primary">Ver más</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Blog</span>
				<br>
				<h2 class="mb-4">Nuevo</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 ftco-animate">
				<div class="blog-entry">
					<a href="blog-single.html" class="block-20" style="background-image: url('@Url.Content("~/images/inmercison.jpg")');">
					</a>
					<div class="text px-4 pt-3 pb-4">
						<div class="meta">
							<div><a href="#">Agosto 11, 2025</a></div>
							<div><a href="#">Admin</a></div>
						</div>
						<h3 class="heading"><a href="#">Sabores de la Costa</a></h3>
						<p class="clearfix">
							<a href="#" class="float-left read btn btn-primary">Ver más</a>
							<a href="#" class="float-right meta-chat"><span class="fa fa-comment"></span> 3</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="blog-entry">
					<a href="blog-single.html" class="block-20" style="background-image: url('@Url.Content("~/images/degustacion.jpg")');">
					</a>
					<div class="text px-4 pt-3 pb-4">
						<div class="meta">
							<div><a href="#">Julio 20, 2025</a></div>
							<div><a href="#">Admin</a></div>
						</div>
						<h3 class="heading"><a href="#">Tradiciones de la Sierra</a></h3>
						<p class="clearfix">
							<a href="#" class="float-left read btn btn-primary">Ver más</a>
							<a href="#" class="float-right meta-chat"><span class="fa fa-comment"></span> 3</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="blog-entry">
					<a href="blog-single.html" class="block-20" style="background-image: url('@Url.Content("~/images/cacao.jpg")');">
					</a>
					<div class="text px-4 pt-3 pb-4">
						<div class="meta">
							<div><a href="#">Julio 15, 2025</a></div>
							<div><a href="#">Admin</a></div>
						</div>
						<h3 class="heading"><a href="#">Delicias de la Selva</a></h3>
						<p class="clearfix">
							<a href="#" class="float-left read btn btn-primary">Ver más</a>
							<a href="#" class="float-right meta-chat"><span class="fa fa-comment"></span> 3</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary">
	<div class="container py-5">
		<div class="row py-2">
			<div class="col-md-12 text-center">
				<h2>Nosotros hacemos comida deliciosa</h2>
				<a href="#" class="btn btn-white btn-outline-white">Compra ahora</a>
			</div>
		</div>
	</div>
</section>