@model IEnumerable<yummyApp.Models.Producto>

@{
    ViewData["Title"] = "TiendaGeneral";
}

<h1>Tienda General</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th></th>
        </tr>
    </thead>
    @* <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoPro)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody> *@
</table>
